:root {
	--fg-color: #212121;
	--fg-color-alt: #757575;
	--active-fg-color: #2196F3;
	--font: "Roboto", sans-serif
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	max-width: 1200px;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--fg-color);
	font-size: 14px;
	letter-spacing: normal;
}

header {
	font-weight: 500;
	letter-spacing: 0.02em;

	height: 80px;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer {
	height: 251px;
}

button {
	font-family: inherit;
	cursor: pointer;
}

a {
	color: var(--fg-color);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact__mail, .contact__phone-number {
	color: var(--fg-color-alt);
}

.site-navigation__link:hover,
.site-navigation__link:focus,
.site-navigation__link:active,
.contact__mail:hover,
.contact__mail:focus,
.contact__mail:active,
.contact__phone-number:hover,
.contact__phone-number:focus,
.contact__phone-number:active {
	color: var(--active-fg-color);
}

footer, .section--first {
	background-color: #2f303a;
}

.section--first {
	height: 600px;
	gap: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section--first__title {
	color: #ffffff;
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;

	width: 696px;
}

.section--first__button {
	color: #ffffff;
	background-color: #188ce8;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	letter-spacing: 0.06em;
	text-align: center;

	border: none;
	border-radius: 4px;
	padding: 10px 24px;
}

.section--first__button:hover {
	color: #188ce8;
	background-color: #ffffff;
}

.invisible-header {
	display: none;
}

.section--second {
	margin: 94px 0px;
}

.section--second__advantages {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.advantage {
	width: 270px;
}

.advantage__title {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantage__content {
	color: var(--fg-color-alt);
	font-weight: 400;
	line-height: 1.714;
	letter-spacing: 0.03em;
}

.section--third {
	margin: 94px 0px;
}

.section--third__title {
	margin-bottom: 50px;
}

.image-list {
	gap: 30px;

	display: flex;
	justify-content: center;
}

.section--third__title, .section--fourth__title {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
}

.section--fourth {
	height: 648px;
	background-color: #f5f4fa;
	margin-top: 94px;
}

.section--fourth__title {
	padding-top: 94px;
	margin-bottom: 50px;
}

.staff-cards {
	gap: 30px;

	display: flex;
	justify-content: center;
}

.staff-card-content {
	height: 368px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
	            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
	            0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.staff-description__name {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;

	margin-top: 30px;
}

.staff-description__job-title {
	color: var(--fg-color-alt);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-align: center;

	margin-top: 10px;
}

.logo-image-footer {
	margin-top: 60px;
}

.info {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.143;
	letter-spacing: 0.03em;

	margin-top: 28px;
	gap: 12px;

	display: flex;
	flex-direction: column;
}

.info__mail, .info__phone-number {
	color: rgba(256, 256, 256, 0.6);
}

.filter-buttons {
	margin-top: 94px;
	margin-bottom: 50px;
	gap: 8px;
	display: flex;
	justify-content: center;
}

.filter-button__button {
	color: var(--fg-color);
	background-color: #f5f4fa;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	letter-spacing: 0.03em;
	text-align: center;

	border: none;
	border-radius: 4px;
	padding: 6px 22px;
}

.cards {
	margin-bottom: 94px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card-content {
	margin: 30px;
	width: 370px;
	height: 404px;

	border: 1px solid #eeeeee
}

.card-description {
	padding: 20px 24px;
}

.filter-button__button:hover,
.filter-button__button:focus,
.filter-button__button:active {
	color: #ffffff;
	background-color: #2196f3;
}

.card-content {
	background-color: #ffffff;
	border-color: #eeeeee;
	border-width: 1px;
}

.card-description__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-bottom: 4px;
}

.card-description__content {
	color: var(--fg-color-alt);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	letter-spacing: 0.03em;
}

.site-navigation__links {
	display: flex;
	gap: 30px;
}

.contacts {
	display: flex;
	gap: 30px;
}

.navigation-elements {
	display: flex;
	gap: 93px
}

.navigation-element {
	display: flex;
	align-items: center;
}
