footer {
	background-color: #2f303a;
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
		@media screen and (max-width: 768px) {
			justify-content: space-around;
			gap: 60px;
		}
		@media screen and (max-width: 480px) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.about-footer {
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.social-link-footer {
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.social-link-footer__social-links {
	display: flex;
	gap: 10px;
}

.info__mail:hover,
.info__phone-number:hover {
	color: $active-fg-color;
}

.spam-footer {
	flex-grow: 1;
	margin-left: 24px;
	@media screen and (max-width: 768px) {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 159px;
	}
	@media screen and (max-width: 480px) {
		padding: 0;
		width: 100%;
	}
}

.spam-footer__form {
	display: flex;
	gap: 12px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 20px;
	}
}

.spam-footer__title {
	color: #ffffff;
	margin-bottom: 20px;
}

.spam-footer__label {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.spam-footer__input {
	color: #ffffff;
	background-color: transparent;
	height: 50px;
	padding: 15px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	outline: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	flex-grow: 1;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.spam-footer__button {
	color: #ffffff;
	background-color: $active-fg-color;
	border-radius: 4px;
	border: none;

	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.06em;
	line-height: 1.87;

	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 28px;

	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	&:hover {
		background-color: $hover-button-bg;
	}
}

.social-link-footer__title {
	color: #ffffff;
}

.social-link-footer__social-link-content {
	color: #ffffff;
	background-color: rgba(256, 256, 256, 0.1);
	margin-top: 20px;

	width: 44px;
	height: 44px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	&:hover {
		background-color: $active-fg-color;
	}
}

.info {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.143;
	letter-spacing: 0.03em;

	margin-top: 28px;
	gap: 12px;

	display: flex;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}
}

.info__mail, .info__phone-number {
	color: rgba(256, 256, 256, 0.6);
}

